
.clear {
    clear:both;
    padding: 0px;
    margin:0px;
}

.main{
    width: 1280px;
    text-align: left;
}

.header, .listItem, .cardImage, .cardDetails {
    float: left;
}

.listItem{
    width: 149px;
}

.cardDetails{
    width: 704px;
    height:728px;
    margin-left: 10px;
}

.cardDetailsName{
    font-weight: bold;
    text-decoration: underline;
    font-size: 22px;
    margin: 5px 0px 5px 0px;
}

.cardDetailsIntro{
    font-style: italic;
    font-size: 20px;
    font-variant: small-caps;
    color: #b0c4de;
    margin-bottom: 16px;
}

.header{
    width: 250px;
}

.listContainer {
    overflow: auto;
    /*height: 171px;*/
    margin-bottom: 5px;
}

.icon{
    border: black solid 2px;
    height: 145px;
    width: 145px;
}

.fullImage{
    height: 728px;
    width: 560px;
}

.cardImageMsg{
    padding-top: 336px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.icon.selectedCard, .icon.selectedPage, .icon.selectedTheme{
    border: red solid 2px;
}

.status{
    width: 10px;
    height: 10px;
    float: right;
}

.readCard .status, .completePage .status, .completeTheme .status{
    border: green solid 2px;
    background-color: green;
}

.readPage .status, .readTheme .status{
    border: blue solid 2px;
    background-color: blue;
}

.itemTitle{
    float: left;
    color: #ffffff;
    width: 125px;
    margin-left: 3px;
}

.themePreview{
    float: left;
    width: 166px;
}

.previewContainer{
    height: 904px;
    display: none;
}

.pageIcon{
    border-color: #61615f;
}

.cardIcon {
    border-color: #FFFFFF;
}

.cardControls{
    margin-top: 9px;
}
.cardControl{
    float: left;
    margin-right: 10px;
}

.readLabel{
    margin-right: 0px;
}

.cardBodyContainer{
    height: 663px;
    overflow: auto;
}

.prevControl, .nextControl{
    width: 272px;
    height: 36px;
    background-color: #777777;
    border: solid 1px #61615f;
    padding: 17px 5px 1px 5px;
    text-align: center;
    cursor: pointer;
}

.prevControl:hover, .nextControl:hover{
    border-width: 3px;
    font-weight: bold;
    width: 268px;
    height: 32px;
}

.readLabel{
    display: none;
}

.readCheckbox{
    width: 102px;
    height: 50px;
    border: solid black 1px;
    display: none;
}

.readCheckDiv{
    width: 50px;
    height: 50px;
    margin: 2px 37px 0px 27px;
    float: left;
    border: solid black 1px;
}

.read-true{
    background-color: #2e8b57;
}

.toggleContainer{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #61615f;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    color: #ffffff;
}

.toggleContainer:hover{
   color: #b0c4de;
    text-decoration: underline;
}
/*For Debug Only*/
div {
    /*border: black solid 1px;*/
}

