<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Destiny: Grim Reader</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="grimReader.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-app="grimReader">

<div class="main" ng-controller="GrimController" data-ng-init="init()" class="template">
    <div id="previewSection" style="display:none" class="section previewSection previewContainer">
        <div class="listContainer themePreview">
            <div class="listItem themeItem" ng-repeat="item in data" ng-click="setTheme(item.themeName)">
                <div class="itemTitle themeName" id="{{item.themeName}}" ng-bind-html="item.trustedThemeName"></div>
                <div class="icon listIcon themeIcon {{getSelectedThemeClass(item.themeName)}}" id="img-{{item.themeName}}"
                     style="background-image: url('{{resolveResourceUrl(item.icon.sheetPath)}}')"
                     ng-style="{height:item.icon.rect.height+'px', width:item.icon.rect.width+'px', 'background-position': '-'+item.icon.rect.x+'px -'+item.icon.rect.y+'px'}">
                    <div class="status"></div>
                </div>
            </div>
        </div>
        <div class="listContainer pagePreview">
            <div class="listItem pageItem" ng-repeat="item in theme.pages" ng-click="setPage(item.pageName)">
                <div class="itemTitle pageName" id="{{item.pageName}}" ng-bind-html="item.trustedPageName"></div>
                <div class="icon listIcon pageIcon {{getSelectedPageClass(item.pageName)}}" id="img-{{item.pageName}}"
                     style="background-image: url('{{resolveResourceUrl(item.icon.sheetPath)}}')"
                     ng-style="{height:item.icon.rect.height+'px', width:item.icon.rect.width+'px', 'background-position': '-'+item.icon.rect.x+'px -'+item.icon.rect.y+'px'}">
                    <div class="status"></div>
                </div>
            </div>
        </div>
        <div class="listContainer cardPreview">
            <div class="listItem cardItem" ng-repeat="item in page.cards" ng-click="setCard(item.cardId)">
                <div class="itemTitle cardName" id="{{item.cardId}}" ng-bind-html="item.trustedCardName"></div>
                <div class="icon listIcon cardIcon {{getSelectedCardClass(item.cardId)}}" id="img-{{item.cardId}}"
                     style="background-image: url('{{resolveResourceUrl(item.icon.sheetPath)}}')"
                     ng-style="{height:item.icon.rect.height+'px', width:item.icon.rect.width+'px', 'background-position': '-'+item.icon.rect.x+'px -'+item.icon.rect.y+'px'}">
                    <div class="status"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="previewToggle" class="section toggleContainer" ng-click="togglePreviews()">
        Show/Hide Navigation Panel
    </div>
    <div id="selectionSection" class="section selectionContainer cardSelection">
        <div id="cardImage" class="cardContainer fullImage cardImage"
             style="background-image: url('{{resolveResourceUrl(card.image.sheetPath)}}')"
             ng-style="{height:card.image.rect.height+'px', width:card.image.rect.width+'px', 'background-position': '-'+card.image.rect.x+'px -'+card.image.rect.y+'px'}">
            <div id="cardImageMsg" class="cardImageMsg">
                Loading HD Image......
            </div>
        </div>
        <div class="cardContainer selectionDetails cardDetails" id="cardText">
            <div id="cardBody" class="cardBody cardBodyContainer">
                <div id="cardName" class="cardBody cardDetailsName" ng-bind-html="card.trustedCardPathName"></div>
                <div id="cardIntro" class="cardBody cardDetailsIntro" ng-bind-html="card.trustedCardIntro"></div>
                <div id="cardDesc" class="cardBody cardDetailsDesc" ng-bind-html="card.trustedCardDescription"></div>
            </div>
            <div class="cardControls">
                <div class="cardControl prevControl" id="btnPrev" ng-click="prevCard(card)">Prev</div>
                <div class="readCheckDiv read-{{card.isRead}}" title="Read Status: {{card.isRead}}" ng-click="setReadCard(card)">
                    <label class="cardControl readControl readLabel" for="chkRead">Read Status</label>
                    <input class="cardControl readControl readCheckbox" id="chkRead" title="Already Read" type="checkbox"
                           ng-click="setCard(card.cardId)" ng-model="card.isRead"/>
                </div>
                <div class="cardControl nextControl" id="btnNext" ng-click="nextCard(card)">Next</div>
            </div>
        </div>
    </div>
</div>

</body>
</html>